section {
  height: 100vh;
  background-image: url(./../../assets/img/1_hero/JPG/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  > div {
    text-align: center;
    margin-bottom: 18em;
  }
  > h1 {
    font-size: 32px;
  }
  > h2 {
    font-size: 16px;
  }
}
