<nav>
  <img
    src="./../../../assets/img/1_hero/SVG/sakura_logo.svg"
    alt="Sakura Logo "
  />
  <div class="language-setting">
    <ul>
      <li><a href="#OurMenu">Menu</a></li>
      <li><a href="">Location</a></li>
      <li><a href="">About</a></li>

      <div class="phone-div">
        <a href="">
          <img
            src="./../../../assets/img/1_hero/PNG/phone.png"
            alt=" call phone"
          />
          0176 54564534
        </a>
      </div>
    </ul>

    <img src="./../../../assets/img/1_hero/PNG/german.png" alt="german flag" />
    <img
      src="./../../../assets/img/1_hero/JPG/great-britain.jpg"
      alt="englisch flag"
    />
  </div>
</nav>
