* {
  margin: 0;
  color: white;
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/noto-sans-v42-latin-regular.woff2") format("woff2");
}

.fontNatoSans {
  font-family: "Noto Sans";
}
