section {
  display: flex;
  flex-direction: column;
  padding: 3em 0em;
  > h1 {
    color: rgb(185, 72, 72);
    display: flex;
    justify-content: center;
    padding: 0em 0em 2em 0em;
  }
  > div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  > div img {
    width: 76px;
    height: 76px;
  }
}

p {
  font-size: 2rem;
  font-weight: bolder;
}
